# Pandas 
> Pandas is the python data analysis library which is used for analysis of the data.
> Pandas has two data structure :
> > 1. Series 
> > 2. DataFrame (reading from files like excel file)

In [49]:
import pandas as pd
import numpy as np
import os
import sys

> Series in Pandas

In [50]:
s = pd.Series([45,65,84,32,13] , index=['a','b','c','d','e'])
s

a    45
b    65
c    84
d    32
e    13
dtype: int64

In [51]:
s.empty

False

In [52]:
s.flags

In [53]:
s

a    45
b    65
c    84
d    32
e    13
dtype: int64

In [54]:
data = {
    "Name": ["Zac", "Kale", "Kale", "jimmy", "Ben"],
    "Age" : [22,18,18,25,30],
    "Country" : ["South America" , "Australia" ,"Australia" ,"Germany","Maxico"]
}
data

{'Name': ['Zac', 'Kale', 'Kale', 'jimmy', 'Ben'],
 'Age': [22, 18, 18, 25, 30],
 'Country': ['South America', 'Australia', 'Australia', 'Germany', 'Maxico']}

In [55]:
s = pd.Series(data)
s

Name                           [Zac, Kale, Kale, jimmy, Ben]
Age                                     [22, 18, 18, 25, 30]
Country    [South America, Australia, Australia, Germany,...
dtype: object

In [56]:
s.dtype

dtype('O')

In [57]:
s.Name

['Zac', 'Kale', 'Kale', 'jimmy', 'Ben']

In [58]:
s.Age

[22, 18, 18, 25, 30]

In [59]:
s.Country

['South America', 'Australia', 'Australia', 'Germany', 'Maxico']

In [60]:
s.dtype

dtype('O')

In [61]:
s.values

array([list(['Zac', 'Kale', 'Kale', 'jimmy', 'Ben']),
       list([22, 18, 18, 25, 30]),
       list(['South America', 'Australia', 'Australia', 'Germany', 'Maxico'])],
      dtype=object)

In [62]:
s.hasnans #check if it has any NONE or EMPTY value or fields in it

False

In [63]:
type(s.values)

numpy.ndarray

In [64]:
s[0],s[1]

(['Zac', 'Kale', 'Kale', 'jimmy', 'Ben'], [22, 18, 18, 25, 30])

In [65]:
s.index

Index(['Name', 'Age', 'Country'], dtype='object')

In [66]:
s.index = ["Name","Age","Likes"]
s

Name                         [Zac, Kale, Kale, jimmy, Ben]
Age                                   [22, 18, 18, 25, 30]
Likes    [South America, Australia, Australia, Germany,...
dtype: object

In [67]:
s.index[2]

'Likes'

In [68]:
s.name = "People Like Country"
s.name

'People Like Country'

In [69]:
l = [35.467,63.951,80.940,60.665,127.861,64.511,318.523]
g = pd.Series(l)
g

0     35.467
1     63.951
2     80.940
3     60.665
4    127.861
5     64.511
6    318.523
dtype: float64

In [70]:
g.index

RangeIndex(start=0, stop=7, step=1)

In [71]:
g.name = "G7 Population in Millions"
g.hasnans

False

In [72]:
g.name

'G7 Population in Millions'

In [73]:
g

0     35.467
1     63.951
2     80.940
3     60.665
4    127.861
5     64.511
6    318.523
Name: G7 Population in Millions, dtype: float64

In [74]:
type(g.values),g.dtype

(numpy.ndarray, dtype('float64'))

In [75]:
g[0],g[1],g.index

(35.467, 63.951, RangeIndex(start=0, stop=7, step=1))

In [76]:
g.index = [
    "Canada" , "France" , "Germany","Italy","japan","United Kingdom","United States"
]
g.index

Index(['Canada', 'France', 'Germany', 'Italy', 'japan', 'United Kingdom',
       'United States'],
      dtype='object')

In [77]:
g

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
japan             127.861
United Kingdom     64.511
United States     318.523
Name: G7 Population in Millions, dtype: float64

In [81]:
# Same as above 2 results shown
pd.Series(
l,index=[
'Canada','France','Germany','Italy','Japan','United Kingdom','United States'
    ],name="G7 Population in millions"
)

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.861
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [78]:
# Above 'g' is same as one written below
pd.Series(
{'Canada':35.467,
    'France':63.951,
    'Germany':80.94,
    'Italy':60.665,
    'Japan':127.061,
    'United Kingdom':64.511,
    'United States':318.523
    },name = "G7 Population in millions")

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [79]:
a = pd.Series(g,index=['France','Germany','Italy','Spain'])
a

France     63.951
Germany    80.940
Italy      60.665
Spain         NaN
Name: G7 Population in Millions, dtype: float64

In [80]:
a.hasnans

True

### Indexing

> Indexing in pandas works similar to list and dictionaries indexing

In [82]:
g

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
japan             127.861
United Kingdom     64.511
United States     318.523
Name: G7 Population in Millions, dtype: float64

In [83]:
g['Canada']

35.467

In [85]:
g['japan']

127.861

> Numeric position can be used with iloc attribute or by simple array like indexing

In [87]:
g.iloc[0]

35.467

In [88]:
g[0]

35.467

In [90]:
g.values[0]

35.467

In [93]:
g.iloc[-1]

318.523

In [94]:
g[-1]

318.523

> Selecting multiple elements at once

In [95]:
g[['Italy','France']]

Italy     60.665
France    63.951
Name: G7 Population in Millions, dtype: float64

In [96]:
g.iloc[[0,1]]

Canada    35.467
France    63.951
Name: G7 Population in Millions, dtype: float64

In [97]:
g.size

7

In [98]:
g[6]

318.523

In [100]:
g['Canada':'Italy']

Canada     35.467
France     63.951
Germany    80.940
Italy      60.665
Name: G7 Population in Millions, dtype: float64

## Condition Selection (Boolean Arrays)
> 1. ~ (NOT) <br>
2. | (OR)  <br>
3. & (AND) <br>

In [101]:
g

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
japan             127.861
United Kingdom     64.511
United States     318.523
Name: G7 Population in Millions, dtype: float64

In [102]:
g>70

Canada            False
France            False
Germany            True
Italy             False
japan              True
United Kingdom    False
United States      True
Name: G7 Population in Millions, dtype: bool

In [103]:
g[g>70]

Germany           80.940
japan            127.861
United States    318.523
Name: G7 Population in Millions, dtype: float64

In [106]:
g[g<70]

Canada            35.467
France            63.951
Italy             60.665
United Kingdom    64.511
Name: G7 Population in Millions, dtype: float64

In [107]:
g.mean()

107.41685714285714

In [108]:
g.std()

97.27752557918774

In [109]:
g.median()

64.511

In [110]:
g.mode()

0     35.467
1     60.665
2     63.951
3     64.511
4     80.940
5    127.861
6    318.523
dtype: float64

In [112]:
g[g>g.mean()]

japan            127.861
United States    318.523
Name: G7 Population in Millions, dtype: float64

In [114]:
g[g<g.mean()]

Canada            35.467
France            63.951
Germany           80.940
Italy             60.665
United Kingdom    64.511
Name: G7 Population in Millions, dtype: float64

In [116]:
g[g<g.std()]

Canada            35.467
France            63.951
Germany           80.940
Italy             60.665
United Kingdom    64.511
Name: G7 Population in Millions, dtype: float64

In [122]:
g[(g>g.std()/2) & (g<g.mean())]

France            63.951
Germany           80.940
Italy             60.665
United Kingdom    64.511
Name: G7 Population in Millions, dtype: float64

In [123]:
g[(g>g.mean()-g.std()/2) | (g>g.mean()+g.std()/2)]

France             63.951
Germany            80.940
Italy              60.665
japan             127.861
United Kingdom     64.511
United States     318.523
Name: G7 Population in Millions, dtype: float64

In [124]:
g

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
japan             127.861
United Kingdom     64.511
United States     318.523
Name: G7 Population in Millions, dtype: float64

In [125]:
g.mean()-g.std()/2

58.77809435326327

In [126]:
g.mean()+g.std()/2

156.055619932451

### Operation and Methods

In [127]:
g

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
japan             127.861
United Kingdom     64.511
United States     318.523
Name: G7 Population in Millions, dtype: float64

In [129]:
g*1_000_000

Canada             35467000.0
France             63951000.0
Germany            80940000.0
Italy              60665000.0
japan             127861000.0
United Kingdom     64511000.0
United States     318523000.0
Name: G7 Population in Millions, dtype: float64

In [130]:
g.mean()

107.41685714285714

In [133]:
g

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
japan             127.861
United Kingdom     64.511
United States     318.523
Name: G7 Population in Millions, dtype: float64

In [135]:
g['France':'Italy'].mean()

68.51866666666666

In [136]:
np.log(g)

Canada            3.568603
France            4.158117
Germany           4.393708
Italy             4.105367
japan             4.850944
United Kingdom    4.166836
United States     5.763695
Name: G7 Population in Millions, dtype: float64

In [140]:
np.mean(g) , g.mean()

(107.41685714285714, 107.41685714285714)

In [141]:
np.median(g),g.median()

(64.511, 64.511)

In [142]:
g[(g>80)&(g<120)]

Germany    80.94
Name: G7 Population in Millions, dtype: float64

### Modifying Series

In [144]:
g['Canada']=40.5
g

Canada             40.500
France             63.951
Germany            80.940
Italy              60.665
japan             127.861
United Kingdom     64.511
United States     318.523
Name: G7 Population in Millions, dtype: float64

In [146]:
g.iloc[-1] = 500
g

Canada             40.500
France             63.951
Germany            80.940
Italy              60.665
japan             127.861
United Kingdom     64.511
United States     500.000
Name: G7 Population in Millions, dtype: float64

In [147]:
g[g<70] = 99.999
g

Canada             99.999
France             99.999
Germany            80.940
Italy              99.999
japan             127.861
United Kingdom     99.999
United States     500.000
Name: G7 Population in Millions, dtype: float64

## DataFrame

In [149]:
GDP=[
        1785387,
        2833687,
        3874437,
        2167744,
        4602367,
        2950039,
        17348075
    ]
HDI = [
    0.913,
        0.88,
        0.916,
        0.873,
        0.891,
        0.907,
        0.915
]
Surface_Area = [
        9984670,
        640649,
        357114,
        301336,
        377930,
        242495,
        9525067
    ]
Continent = [
        'America',
        'Europe',
        'Europe',
        'Europe',
        'Asia',
        'Europe',
        'America'
    ]
l,GDP,Surface_Area,HDI,Continent

([35.467, 63.951, 80.94, 60.665, 127.861, 64.511, 318.523],
 [1785387, 2833687, 3874437, 2167744, 4602367, 2950039, 17348075],
 [9984670, 640649, 357114, 301336, 377930, 242495, 9525067],
 [0.913, 0.88, 0.916, 0.873, 0.891, 0.907, 0.915],
 ['America', 'Europe', 'Europe', 'Europe', 'Asia', 'Europe', 'America'])

In [158]:
df = pd.DataFrame({
    'Population':l,
    'GDP':GDP,
    'Surface Area':Surface_Area,
    'HDI':HDI,
    'Continent':Continent,
})
df

   Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9984670  0.913   America
1      63.951   2833687        640649  0.880    Europe
2      80.940   3874437        357114  0.916    Europe
3      60.665   2167744        301336  0.873    Europe
4     127.861   4602367        377930  0.891      Asia
5      64.511   2950039        242495  0.907    Europe
6     318.523  17348075       9525067  0.915   America

In [159]:
df.columns = columns =['Population','GDP','Surface Area','HDI','Continent']

In [160]:
df

   Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9984670  0.913   America
1      63.951   2833687        640649  0.880    Europe
2      80.940   3874437        357114  0.916    Europe
3      60.665   2167744        301336  0.873    Europe
4     127.861   4602367        377930  0.891      Asia
5      64.511   2950039        242495  0.907    Europe
6     318.523  17348075       9525067  0.915   America

In [161]:
country = ['Canada','France','Germany','Italy','Japan','United Kingdom','United States']
country

['Canada',
 'France',
 'Germany',
 'Italy',
 'Japan',
 'United Kingdom',
 'United States']

In [162]:
df.index = country
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640649  0.880    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.861   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [163]:
df.index

Index(['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom',
       'United States'],
      dtype='object')

In [164]:
df.info

<bound method DataFrame.info of                 Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640649  0.880    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.861   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America>

In [165]:
df.size

35

In [166]:
df.shape

(7, 5)